registry=http://172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/registry/
             
always-auth=true	

; begin auth token
//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/registry/:username=LAITFS_Token
//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/registry/:_password='aXJ1dHBtc2J0Y3Vjb3M2dHh2NG54aXd2dGJxazQyend3bnNpdzJpcWVtaHMyZXhiM3N2cQ=='
//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/registry/:email=vishal.anil@laminaar.in
//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/:username=LAITFS_Token
//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/:_password='aXJ1dHBtc2J0Y3Vjb3M2dHh2NG54aXd2dGJxazQyend3bnNpdzJpcWVtaHMyZXhiM3N2cQ=='
//172.16.11.6:8080/ARMS_NG/_packaging/LAI.NG/npm/:email=vishal.anil@laminaar.in
; end auth token
